@page
@model encore.Pages.KirokuModel
@{
    Layout = "_Layout";
}
<title>@Model.Title</title>


<h1>ライブを記録する</h1>
@if (!string.IsNullOrEmpty(Model.KaiinMessage))
{
    <p>@Model.KaiinMessage</p>
}


<form method="post" asp-page-handler="Insert_Kiroku" style="display:flex; gap:8px; align-items:center;">
    <label>ライブ名：</label>
    <input asp-for="KirokuName" required />
    <input asp-for="LiveDate" type="date" required />
    <button type="submit">ライブ名を登録</button>
</form>

@if (!string.IsNullOrEmpty(Model.Message))
{
    <p>@Model.Message</p>
}

<h2>登録済みのライブ一覧</h2>
@if (Model.KirokuList.Any())
{
    <table>
        <thead>
            <tr>
                <th>日付</th>
                <th>ライブ名</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.KirokuList)
            {
                <tr>
                    <td>@item.Date.ToString("yyyy-MM-dd")</td>
                    <td>@item.Name</td>
                    <td>
                        <a asp-page="/EditKiroku" asp-route-KirokuNo="@item.No">編集</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>まだライブ記録はありません。</p>
}


